<form action="/publications" method="post">

	<label for=''>Title</label>
	<textarea style="width: 250px; height: 35px; font-size: 20px;" name="title"></textarea> <br>

	<label for=''>Publication Url</label>
	<input style="width: 250px; height: 35px; font-size: 20px;" type="text" name="url"><br>

	<label for="">Authors</label>
	<textarea style="width: 250px; height: 30px; font-size: 20px;" name="authors"></textarea><br>

	<label for=''>Journal Name</label>
	<input style="width: 250px; height: 35px; font-size: 20px;" type="text" name="journal_name"><br>

	<label for=''>Publication Date</label>
	<input style="width: 250px; height: 35px; font-size: 20px;" type="text" name="date"><br>

	<button class="button">Add</button>

</form>